header {
	background-color: #a3c5cf;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}

header li {
	display: inline;
}

header li a {
	padding: 0px 20px 0px 20px;
	color: #FFFFFF;
	text-decoration: none;
}

header li a:hover {
	padding: 0px 20px 0px 20px;
	color: #434343;
	text-decoration: none;
}

.wrapper {
    padding-top: 50px;
    width: 75%;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 26px;
}

h2 {
    text-align: center;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 2px solid #a3c5cf;
    border-bottom: 2px solid #a3c5cf;
}

h3 {
    text-align: center;
    font-size: 18px;
}

.dbl_col {
    width: 40%;
    margin: auto;
    display: inline-block;
    padding: 5px;
    text-align: left;
}

.left_para {
    float: left;
    width: 40%;
}

.right_para {
    float: right;
    width: 40%
}

.clear {
    clear: both;
}

.exp_section ul {
    text-align: left;
    font-family: bold;
}

.exp_section li {
    list-style-type: none;
    padding-left: 12px;
    text-align: left;
}

.contact_box {
    background-color: #a3c5cf;
    width: 40%;
    padding: 5px 20px 5px 100px;
    text-align: left;
    margin: auto;
    color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.submit_btn {
    padding:5px 15px;
    background: #fff;
    width: 200px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.text_box_style {
    width: 200px;
	height: 120px;
	padding: 2px;
}

.text_label_style {
    width: 200px;
	height: 20px;
	padding: 2px;
}

footer {
    /* color: #000; */
    font-size: 14px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #a3c5cf;
}

footer a:visited {
    color: #000;
}